.container {
  width: 500px;
  background-color: rgb(214, 247, 247);
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 450px;
  padding: 20px;
  padding-left: 40px;
  border-radius: 20px;
}

h2 {
  text-align: center;
}
.input-field {
  border-color: aliceblue;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 5px;
}
.button {
  border-radius: 10px;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  color: rgb(14, 14, 44);
  border-color: aliceblue;
}
ul {
  list-style-type: none;
}
.list-items {
  margin-top: 30px;
  margin-left: 30px;
  background-color: azure;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.list-item {
  text-decoration: line-through;
  opacity: 0.3;
}
.list-items-icons{
    cursor: pointer;
}
#delete{
    color: red;
    height: 30px;
    
}
#complete{
margin-right: 10px;
margin-left: 5px;
}
#edit{
    color: blue;
}
